@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../res/font/Cairo-SemiBold.ttf) format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 200%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  font-family: 'Cairo', sans-serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

/*
blockquote,
q {
  quotes: none;
}*/
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 2.5em;
  font-weight: bold;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
}

.par {
  line-height: 20px;
}

hr {
  border: 0;
  border-bottom: solid 1px #dbdbdb;
  max-width: 90%;
  margin: 3em auto;
}

.bu {
  background-color: #7158e2;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

svg {
  display: block;
  margin: -2px 0;
}

svg path {
  margin: -2px 0;
  fill: #7158e2;
}

.card {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body > header {
  min-height: 50%;
  background: #7158e2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body > header a {
  color: #fff;
}

body > header > * {
  padding: 1%;
}

body > header nav {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  z-index: 100;
  font-size: 1.2em;
  padding: 0 30px;
  margin-top: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #7158e2;
}

body > header nav h2 i {
  display: none !important;
}

body > header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

body > header nav ul li {
  margin: auto 5px;
}

body > header nav ul li a {
  padding: 10px;
}

body > header nav ul li a:hover {
  border-bottom: solid 1px #fff200;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body > header div {
  margin: auto;
  text-align: center;
}

body > header div .active {
  border-left: #fff200 2px solid;
}

body > header div p {
  margin-top: 20px;
  font-size: 2em;
}

section#tap1 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#tap1 .card {
  width: 80%;
  margin: auto;
  background-color: #7158e2;
  color: white;
  padding: 15px;
}

section#tap1 .card a {
  color: #fff200;
}

section#tap1 .card p {
  font-size: 1.3em;
}

#first-svg {
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

#first-svg svg {
  background-color: #7158e2;
}

#first-svg svg path {
  fill: white;
}

section#tap2 {
  text-align: center;
}

section#tap2 blockquote {
  margin: 0 auto;
  max-width: 90%;
  font-size: 1.5em;
  font-style: italic;
}

section#tap3 h1 {
  text-align: center;
}

section#tap3 #row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

section#tap3 #row .right #about p {
  font-size: 1.3em;
  margin-top: 3px;
  margin-bottom: 3px;
}

section#tap3 #row .right #download a {
  color: #003cff;
}

section#tap3 #row .right #download button {
  background-color: #7158e2;
}

section#tap3 #row .right #download button a {
  color: #fff;
}

section#tap3 #row > * {
  width: 50%;
  margin: auto;
}

section#tap3 #row img {
  width: 40%;
  height: 100%;
}

section#tap4 {
  text-align: center;
  margin-bottom: 10px;
}

section#tap4 a {
  color: white;
}

section#tap4 h1 {
  margin: 10px auto;
}

section#tap4 #cards4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#tap4 #cards4 > * {
  width: 30%;
  margin: 0 auto;
}

section#tap4 #cards4 > * h3 {
  font-weight: bold;
  margin: 10px auto;
}

section#tap4 #cards4 > * p {
  width: 90%;
  margin: auto;
}

section#tap4 #cards4 > * button {
  /*cursor: none;
        display: flex;*/
  margin-top: auto;
}

section#tap4 #cards4 > * button a {
  width: 100%;
  height: 100%;
}

section#tap4 i {
  margin: 5px;
  font-size: 4em;
}

section#tap5 {
  text-align: center;
  background-color: #7158e2;
  padding-bottom: 20px;
}

section#tap5 header {
  padding: 20px;
}

section#tap5 header * {
  padding: 2px;
  color: white;
}

section#tap5 header p {
  font-size: 24px;
}

section#tap5 #tap5-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section#tap5 #tap5-holder .card {
  width: 30%;
  height: auto;
  margin: 2px auto;
  padding: 10px;
  background-color: none;
  border: 0.5px white solid;
  color: white;
}

section#tap5 #tap5-holder .card h1 {
  margin: 10px auto;
}

section#tap5 #tap5-holder .card i {
  color: white;
  padding: 5px 0;
  border-radius: 50px 0;
}

section#tap5 #tap5-holder .card p {
  font-size: 1.5em;
  line-height: 2em;
}

section#tap6 {
  text-align: center;
}

section#tap6 a {
  color: #6e6ed4;
}

section#tap6 > header h1 {
  color: #1b512d;
}

section#tap6 > header p {
  font-size: 1.3em;
}

section#tap6 #more-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

section#tap6 #more-about article {
  margin: 10px auto;
  width: 49%;
  padding: 10px;
}

section#tap6 #more-about article header p {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

section#tap6 #more-about article > p {
  font-size: 1.2em;
  line-height: 2.2em;
  background-color: #7158e2;
  color: white;
  border-radius: 10px;
  padding: 10px;
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

section#tap6 #more-about article > p a {
  color: #fff200;
}

footer {
  text-align: center;
  background-color: #7158e2;
  color: white;
}

@media (max-width: 1061px) {
  body > header {
    min-height: 35%;
    /*nav {
      > * {
        margin: auto;
      }
      margin: auto;
    }*/
  }
  body > header div p {
    font-size: 1.8em;
  }
  section#tap1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section#tap1 .card {
    width: 90%;
    margin: 20px auto;
  }
  section#tap3 #row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  section#tap3 #row > * {
    width: 98%;
  }
  section#tap4 #cards4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#tap4 #cards4 > * {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
  }
  section#tap5 #tap5-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section#tap5 #tap5-holder .card {
    width: 98%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  section#tap6 #more-about article {
    width: 99%;
  }
}

@media (max-width: 610px) {
  body > header h1 {
    font-size: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body > header > div {
    width: 100%;
  }
  body > header div p {
    font-size: 1.1em;
  }
  body > header nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0;
    padding: 5px;
    -webkit-box-shadow: 0 1px 3px black;
            box-shadow: 0 1px 3px black;
  }
  body > header nav h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    text-align: center;
  }
  body > header nav h2 a {
    margin: auto;
  }
  body > header nav h2 i {
    display: inline !important;
    margin: auto 5px;
  }
  body > header nav ul {
    top: 0;
    width: 100%;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body > header nav ul li {
    margin: auto;
    margin-bottom: 15px;
    width: 45%;
    border: white 2px solid;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body > header nav ul li a {
    color: white;
    text-align: center;
    padding: 5px;
  }
  section#tap2 blockquote {
    font-size: 1.3em;
  }
  section#tap3 h1 {
    font-size: 2em;
  }
  section#tap3 #row .right #about p {
    margin: 5px;
    font-size: 1em;
    line-height: 2;
  }
}

@media (max-width: 320px) {
  body > header h1 {
    font-size: 1.5em;
  }
  body > header div p {
    font-size: 0.8em;
  }
  section#tap1 .card p {
    font-size: .89em;
  }
  section#tap2 blockquote {
    font-size: .95em;
  }
  section#tap3 h1 {
    font-size: 1.5em;
  }
  section#tap3 #row .right #about p {
    font-size: 1em;
    line-height: 1.5;
  }
  section#tap4 h1 {
    font-size: 1.5em;
  }
  section#tap5 header p {
    font-size: 19px;
  }
  section#tap5 #tap5-holder .card i {
    font-size: 3em;
  }
  section#tap5 #tap5-holder .card h1 {
    font-size: 1.2em;
  }
  section#tap5 #tap5-holder .card p {
    font-size: 1em;
  }
  section#tap6 #more-about article > p {
    font-size: 1em;
  }
  footer h2 {
    font-size: 1em;
  }
}
/*# sourceMappingURL=style.css.map */