
h1 {
  font-size: 2.5em;
  font-weight: bold;
}
h2 {
  font-size: 1.5em;
  font-weight: bold;
}
h3 {
  font-size: 1.3em;
  font-weight: bold;
}
.par{
  line-height: 20px;
}
hr {
  border: 0;
  border-bottom: solid 1px #dbdbdb;
  max-width: 90%;
  margin: 3em auto;
}
.bu{
  background-color: $sec-color;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px;
}

svg {
  display: block;
  margin: -2px 0;
  path {
    margin: -2px 0;
    fill: $sec-color;
  }
}

.card {
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

