@font-face {
  font-family: "Cairo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../res/font/Cairo-SemiBold.ttf)
    format("woff2");
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41,
    U+FB50-FDFF, U+FE80-FEFC;
}
$firt-color: #fff;
$sec-color: #1c7c54;
$c3-color: #73e2a7;
$c4-color: #1b512d;
$c5-color: #b1cf5f;
$c6-color: wheat;
